PORT=8000
MONGO_URI=mongodb+srv://...
JWT_SECRET_USER=secret
FRONTEND_URL=http://localhost:3000
BACKEND_URL=https://your-backend.onrender.com
NODE_ENV=production

# Google Auth
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
GOOGLE_REDIRECT=http://localhost:8000/oauth2callback

# Cloudinary
CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...

# Email Service (Nodemailer)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-google-app-password

# Payment (Razorpay)
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=...


MONGO_URI=                       
PORT=                      
FRONTEND_URL=                      
JWT_SECRET_USER=                       
GOOGLE_CLIENT_ID=                      
GOOGLE_CLIENT_SECRET=                      
GOOGLE_REDIRECT=                       "
YOUTUBE_REFRESH_TOKEN=                      
CLOUDINARY_CLOUD_NAME=                     
CLOUDINARY_API_KEY=                     
CLOUDINARY_API_SECRET=                        
EMAIL_USER="                      
EMAIL_PASS=                       
GEMINI_API_KEY=                      
POLLINATIONS_API_KEY=                      
RAZORPAY_KEY_ID=                       
RAZORPAY_KEY_SECRET=                  
